.update_tag_modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 999;
}

.update_tag_modal-overlay.fade-in {
  opacity: 1;
  visibility: visible;
}

.update_tag_modal-overlay.fade-out {
  opacity: 0;
  visibility: hidden;
}

.update_tag_modal-content {
  box-sizing: border-box;
  position: relative;
  background-color: var(--card_background);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  min-width: 20%;
  min-height: 20%;
  display: flex;
  align-items: flex-end;
}

.update_tag_modal-content form {
  gap: 1rem;
}

.update_tag_modal-content input {
  border: none;
}

.update_tag_modal-content input:focus {
  border: none;
  border-bottom: solid 2px var(--highlight);
}

.update_tag_modal-content .closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--button_danger);
  font-size: 1rem;
  z-index: 100;
}

.update_tag_modal-content .closeBtn:hover {
  background-color: var(--button_danger_hover);
}

.update_tag_modal-content .input-container {
  position: relative;
  margin: 1rem;
}

@media (max-width: 800px) {
  .update_tag_modal-content {
    padding: 1.5rem;
    width: 95%;
  }
}
