.side-tags-heading {
  font-size: 1.2em;
}

.side-tag-list {
  list-style: none;
  /*  padding: 0; */
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: calc(100vh / 2);
  gap: 1rem;
  padding: 1rem 2px;
}

.side-tag-list::-webkit-scrollbar {
  width: 8px;
}
.side-tag-list::-webkit-scrollbar-track {
  background: var(--background_1);
}
.side-tag-list::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
}

.side-tag-list-item {
  border-radius: 2px;
  font-size: 0.6em;
  background-color: var(--tag_background);
  color: var(--text_1);
  padding: 0 1rem;
  cursor: pointer;
}

.side-tag-list-item:hover {
  outline: solid 2px var(--highlight);
}

.side-tag-list-item.active {
  background-color: var(--highlight);
}
