.manage_tags_page {
  max-width: 70ch;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.manage_tags_container {
  margin-top: 1rem;
  padding: 1em;
  background-color: var(--card_background);
  color: var(--text_2);
  border-radius: 4px;
}

.manage_tags_heading {
  font-size: 1.5em;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newTag_input {
  margin-bottom: 1.5em;
  width: 33%;
}

.create-article-tag-list ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.registered_tasks-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--text_3);
  border-radius: 4px;
  padding-left: 0.25em;
  height: 1.5em;
}

.tag_delete-divider {
  height: 100%;
  width: 1px;
  background-color: var(--text_3);
  margin-left: 0.5rem;
}

.tag_delete-button {
  all: unset;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tag_delete-button:hover {
  background-color: #d1e7ff;
}

.submitTagBtn {
  color: var(--text_1);
  width: 33%;
  align-self: center;
}
