.all-articles-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.article-container {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /color: var(--text_dark);
}
